In [21]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option('display.max_rows', 30)

In [12]:
df = pd.read_csv("Full-Dataset/processed/url_encoded_dataset.csv")
merged_df = pd.read_csv("Full-Dataset/processed/merged.csv").iloc[: , 1:]

C:\Users\ParkJaehyung\AppData\Local\Temp\ipykernel_21720\3731135304.py:1: DtypeWarning: Columns (3,6,10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Full-Dataset/processed/url_encoded_dataset.csv")
C:\Users\ParkJaehyung\AppData\Local\Temp\ipykernel_21720\3731135304.py:2: DtypeWarning: Columns (5,8,15,39) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv("Full-Dataset/processed/merged.csv").iloc[: , 1:]

In [65]:
with open("Full-Dataset/processed/url_encoded_dataset.json", "w+") as f : 
    import json
    f.write(json.dumps(df.to_dict("records"), ensure_ascii=True, indent=2))

In [46]:
df.groupby(["tcp.flags"]).count()

,Unnamed: 0,ip.src_host,frame.time,http.request.uri.query,tcp.checksum,http.response,arp.src.proto_ipv4,http.content_length,Attack_type,http.request.full_uri,arp.dst.proto_ipv4,tcp.connection.rst,arp.hw.size,tcp.len,tcp.seq,tcp.options,tcp.connection.syn,http.referer,ip.dst_host,tcp.flags.ack,tcp.ack_raw,tcp.connection.fin,tcp.dstport,tcp.ack,http.file_data,tcp.connection.synack,tcp.payload,tcp.srcport,arp.opcode,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict
tcp.flags,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,737,737,737,0,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,737,0,0,737,737,737
0x00000002,1192,1192,1192,0,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,1192,0,0,1192,1192,1192
0x00000004,650,650,650,0,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650,0,0,650,650,650
0x00000010,7202,7202,7202,0,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,7202,0,0,7202,7202,7202
0x00000011,2354,2354,2354,0,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,2354,0,0,2354,2354,2354
0x00000012,1221,1221,1221,0,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,1221,0,0,1221,1221,1221
0x00000018,79880,79880,79880,4379,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,79880,78697,78697,79880,79880,79880

In [4]:
df.head()

,Unnamed: 0,ip.src_host,frame.time,http.request.uri.query,tcp.checksum,http.response,arp.src.proto_ipv4,http.content_length,Attack_type,http.request.full_uri,arp.dst.proto_ipv4,tcp.connection.rst,arp.hw.size,tcp.len,tcp.seq,tcp.options,tcp.connection.syn,http.referer,ip.dst_host,tcp.flags.ack,tcp.ack_raw,tcp.connection.fin,tcp.dstport,tcp.flags,tcp.ack,http.file_data,tcp.connection.synack,tcp.payload,tcp.srcport,arp.opcode,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict
0,0,192.168.0.170,2021 01:45:35.974758000,NaN,0x0000016d,0.0,0,0.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,86.0,1.0,0101080a9a8a02a2d3a23932,0.0,0.0,192.168.0.128,1.0,2.788267e+09,0.0,80.0,0x00000018,1.0,0,0.0,474554202f445657412f6c6f67696e2e70687020485454...,37670.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'}
1,1,192.168.0.170,2021 01:45:35.976362000,NaN,0x000067c9,0.0,0,0.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,86.0,1.0,0101080a9a8a02a3d3a23935,0.0,0.0,192.168.0.128,1.0,3.173240e+08,0.0,80.0,0x00000018,1.0,0,0.0,474554202f445657412f6c6f67696e2e70687020485454...,37672.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'}
2,2,192.168.0.170,2021 01:45:36.094926000,NaN,0x000057a1,0.0,0,37.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,260.0,1.0,0101080a9a8a031bd3a239b3,0.0,0.0,192.168.0.128,1.0,9.393408e+08,0.0,80.0,0x00000018,1.0,username=admin&password=0&Login=Login,0.0,504f5354202f445657412f6c6f67696e2e706870204854...,37674.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '0', 'Login'..."
3,3,192.168.0.170,2021 01:45:36.095802000,NaN,0x0000964a,0.0,0,38.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,261.0,1.0,0101080a9a8a031cd3a239b3,0.0,0.0,192.168.0.128,1.0,3.983958e+09,0.0,80.0,0x00000018,1.0,username=admin&password=00&Login=Login,0.0,504f5354202f445657412f6c6f67696e2e706870204854...,37676.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '00', 'Login..."
4,4,192.168.0.170,2021 01:45:36.209790000,NaN,0x0000ce94,0.0,0,0.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,221.0,1.0,0101080a9a8a038ed3a23a26,0.0,0.0,192.168.0.128,1.0,6.664912e+08,0.0,80.0,0x00000018,1.0,0,0.0,474554202f445657412f6c6f67696e2e70687020485454...,37678.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'}

In [23]:
merged_df.groupby(["Attack_type","http.data.value"]).count()

                                                                  ip.src_host
Attack_type   http.data.value
Password      0                                                         59194  \
              00                                                        11841
              Login                                                     23677
              admin                                                     23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...            1
...                                                                       ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                           5
Uploading     0.0                                                        1907
XSS           0                                                         14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          382

                                                                  frame.time
Attack_type   http.data.value
Password      0                                                        59194  \
              00                                                       11841
              Login                                                    23677
              admin                                                    23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...           1
...                                                                      ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                          5
Uploading     0.0                                                       1907
XSS           0                                                        14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...         765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...         382

                                                                  tcp.checksum
Attack_type   http.data.value
Password      0                                                          59194  \
              00                                                         11841
              Login                                                      23677
              admin                                                      23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...             1
...                                                                        ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                            5
Uploading     0.0                                                         1907
XSS           0                                                          14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...           765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...           382

                                                                  http.response
Attack_type   http.data.value
Password      0                                                           59194  \
              00                                                          11841
              Login                                                       23677
              admin                                                       23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...              1
...                                                                         ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                             5
Uploading     0.0                                                          1907
XSS           0                                                           14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...            765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...            382

                                                                  arp.src.proto_ipv4
Attack_type   http.data.value
Password      0                                                                59194  \
              00                                                               11841
              Login                                                            23677
              admin                                                            23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...                   1
...                                                                              ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                                  5
Uploading     0.0                                                               1907
XSS           0                                                                14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 382

                                                                  http.content_length
Attack_type   http.data.value
Password      0                                                                 59194  \
              00                                                                11841
              Login                                                             23677
              admin                                                             23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...                    1
...                                                                               ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                                   5
Uploading     0.0                                                                1907
XSS           0                                                                 14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                  765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                  382

                                                                  arp.dst.proto_ipv4
Attack_type   http.data.value
Password      0                                                                59194  \
              00                                                               11841
              Login                                                            23677
              admin                                                            23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...                   1
...                                                                              ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                                  5
Uploading     0.0                                                               1907
XSS           0                                                                14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 382

                                                                  tcp.connection.rst
Attack_type   http.data.value
Password      0                                                                59194  \
              00                                                               11841
              Login                                                            23677
              admin                                                            23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...                   1
...                                                                              ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                                  5
Uploading     0.0                                                               1907
XSS           0                                                                14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 382

                                                                  arp.hw.size
Attack_type   http.data.value
Password      0                                                         59194  \
              00                                                        11841
              Login                                                     23677
              admin                                                     23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...            1
...                                                                       ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                           5
Uploading     0.0                                                        1907
XSS           0                                                         14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          382

                                                                  tcp.len
Attack_type   http.data.value
Password      0                                                     59194  \
              00                                                    11841
              Login                                                 23677
              admin                                                 23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...        1
...                                                                   ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                       5
Uploading     0.0                                                    1907
XSS           0                                                     14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...      765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...      382

                                                                  tcp.seq
Attack_type   http.data.value
Password      0                                                     59194  \
              00                                                    11841
              Login                                                 23677
              admin                                                 23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...        1
...                                                                   ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                       5
Uploading     0.0                                                    1907
XSS           0                                                     14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...      765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...      382

                                                                  tcp.options
Attack_type   http.data.value
Password      0                                                         59194  \
              00                                                        11841
              Login                                                     23677
              admin                                                     23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...            1
...                                                                       ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                           5
Uploading     0.0                                                        1907
XSS           0                                                         14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          382

                                                                  tcp.connection.syn
Attack_type   http.data.value
Password      0                                                                59194  \
              00                                                               11841
              Login                                                            23677
              admin                                                            23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...                   1
...                                                                              ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                                  5
Uploading     0.0                                                               1907
XSS           0                                                                14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 382

                                                                  http.referer
Attack_type   http.data.value
Password      0                                                          59194  \
              00                                                         11841
              Login                                                      23677
              admin                                                      23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...             1
...                                                                        ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                            5
Uploading     0.0                                                         1907
XSS           0                                                          14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...           765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...           382

                                                                  ip.dst_host
Attack_type   http.data.value
Password      0                                                         59194  \
              00                                                        11841
              Login                                                     23677
              admin                                                     23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...            1
...                                                                       ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                           5
Uploading     0.0                                                        1907
XSS           0                                                         14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          382

                                                                  tcp.flags.ack
Attack_type   http.data.value
Password      0                                                           59194  \
              00                                                          11841
              Login                                                       23677
              admin                                                       23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...              1
...                                                                         ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                             5
Uploading     0.0                                                          1907
XSS           0                                                           14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...            765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...            382

                                                                  tcp.ack_raw
Attack_type   http.data.value
Password      0                                                         59194  \
              00                                                        11841
              Login                                                     23677
              admin                                                     23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...            1
...                                                                       ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                           5
Uploading     0.0                                                        1907
XSS           0                                                         14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          382

                                                                  tcp.connection.fin
Attack_type   http.data.value
Password      0                                                                59194  \
              00                                                               11841
              Login                                                            23677
              admin                                                            23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...                   1
...                                                                              ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                                  5
Uploading     0.0                                                               1907
XSS           0                                                                14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...                 382

                                                                  tcp.dstport
Attack_type   http.data.value
Password      0                                                         59194  \
              00                                                        11841
              Login                                                     23677
              admin                                                     23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...            1
...                                                                       ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                           5
Uploading     0.0                                                        1907
XSS           0                                                         14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...          382

                                                                  tcp.flags
Attack_type   http.data.value
Password      0                                                       59194  \
              00                                                      11841
              Login                                                   23677
              admin                                                   23677
SQL_injection (SELECT (CASE WHEN (1003=4868) THEN 'Submitid=5...          1
...                                                                     ...
              Submitid=59;WAITFOR DELAY '0:0:5'--                         5
Uploading     0.0                                                      1907
XSS           0                                                       14768
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...        765
              <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//E...        382

                                                                  tcp.ack
Attack_type   http.data.value

In [28]:
df.columns

Index(['Unnamed: 0', 'ip.src_host', 'frame.time', 'http.request.uri.query',
       'tcp.checksum', 'http.response', 'arp.src.proto_ipv4',
       'http.content_length', 'Attack_type', 'http.request.full_uri',
       'arp.dst.proto_ipv4', 'tcp.connection.rst', 'arp.hw.size', 'tcp.len',
       'tcp.seq', 'tcp.options', 'tcp.connection.syn', 'http.referer',
       'ip.dst_host', 'tcp.flags.ack', 'tcp.ack_raw', 'tcp.connection.fin',
       'tcp.dstport', 'tcp.flags', 'tcp.ack', 'http.file_data',
       'tcp.connection.synack', 'tcp.payload', 'tcp.srcport', 'arp.opcode',
       '0', 'GET', 'POST', 'TRACE', 'HTTP/1.0', 'HTTP/1.1',
       'http.request.uri.scheme', 'http.request.uri.netloc',
       'http.request.uri.path', 'http.request.uri.query.dict',
       'http.file_data.dict'],
      dtype='object')

In [153]:
float_able = []
float_unable = set(["Unnamed: 0", 'GET',
 'POST',
 'TRACE',
 'HTTP/1.0',
 'HTTP/1.1',
 '0',
 ])
for c in df.columns:
    if c in float_unable: continue
    try:
        try:
            if df[c].str.startswith("0x").astype("int").sum():
                df[c] = pd.Series(int(i,16) for i in df[c])
        except: pass
        df[c].astype("float")
    except Exception as e:
        # print(c, e) 
        float_unable.add(c)
print(all([(c in float_unable) for c in df.columns]))
float_able = [c for c in df.columns if c not in float_unable]

False

In [154]:
float_able

['tcp.checksum',
 'http.response',
 'http.content_length',
 'tcp.connection.rst',
 'arp.hw.size',
 'tcp.len',
 'tcp.seq',
 'tcp.connection.syn',
 'tcp.flags.ack',
 'tcp.ack_raw',
 'tcp.connection.fin',
 'tcp.dstport',
 'tcp.flags',
 'tcp.ack',
 'tcp.connection.synack',
 'tcp.srcport',
 'arp.opcode']

In [98]:
def debug_variable(c):
    print(c)
    return c

In [181]:
df.loc[(df["http.content_length"]+df["http.response"]) != 0][["http.content_length", "http.response"]]

       http.content_length  http.response
2                     37.0            0.0
3                     38.0            0.0
8                     37.0            0.0
9                     38.0            0.0
14                    37.0            0.0
...                    ...            ...
93177                277.0            1.0
93189                277.0            1.0
93202                303.0            1.0
93215                277.0            1.0
93227                277.0            1.0

[24824 rows x 2 columns]

In [156]:
temp = df.copy(True)
correlation = temp[[(c) for c in float_able if c not in ["ip.src_host", "ip.dst_host", "http"]]].corr("pearson")

In [157]:
correlation

,tcp.checksum,http.response,http.content_length,tcp.connection.rst,arp.hw.size,tcp.len,tcp.seq,tcp.connection.syn,tcp.flags.ack,tcp.ack_raw,tcp.connection.fin,tcp.dstport,tcp.flags,tcp.ack,tcp.connection.synack,tcp.srcport,arp.opcode
tcp.checksum,1.000000,0.002331,0.004428,-0.000770,-0.042884,0.016883,0.003261,0.000586,0.082131,0.021956,0.005549,0.004475,0.071601,0.009397,0.005118,0.035777,-0.040617
http.response,0.002331,1.000000,0.880912,-0.009351,-0.002808,0.270023,-0.026212,-0.012700,0.018824,0.009259,-0.017961,0.382570,0.039050,0.078556,-0.012856,-0.311477,-0.002660
http.content_length,0.004428,0.880912,1.000000,-0.031627,-0.009498,0.453693,-0.088654,-0.042956,0.063666,0.020076,-0.060750,0.270788,0.132074,-0.000736,-0.043482,-0.225236,-0.008996
tcp.connection.rst,-0.000770,-0.009351,-0.031627,1.000000,-0.002108,-0.124890,0.336144,-0.009535,-0.496774,-0.137580,-0.013485,0.252831,-0.365879,-0.022840,-0.009652,-0.201545,-0.001997
arp.hw.size,-0.042884,-0.002808,-0.009498,-0.002108,1.000000,-0.037507,-0.006159,-0.002864,-0.149192,-0.041318,-0.004050,-0.007251,-0.133619,-0.006859,-0.002899,-0.070360,0.947133
tcp.len,0.016883,0.270023,0.453693,-0.124890,-0.037507,1.000000,-0.335746,-0.169623,0.251402,0.066931,-0.239888,-0.240596,0.520824,-0.329840,-0.171701,0.123858,-0.035524
tcp.seq,0.003261,-0.026212,-0.088654,0.336144,-0.006159,-0.335746,1.000000,-0.027851,-0.139665,-0.034743,0.429257,0.585452,-0.413792,0.448975,-0.028193,-0.445862,-0.005833
tcp.connection.syn,0.000586,-0.012700,-0.042956,-0.009535,-0.002864,-0.169623,-0.027851,1.000000,-0.674707,-0.186858,-0.018315,-0.032186,-0.550604,-0.031021,-0.013109,0.095947,-0.002712
tcp.flags.ack,0.082131,0.018824,0.063666,-0.496774,-0.149192,0.251402,-0.139665,-0.674707,1.000000,0.276947,0.027145,-0.092335,0.818747,0.045977,0.019429,0.171296,-0.141305
tcp.ack_raw,0.021956,0.009259,0.020076,-0.137580,-0.041318,0.066931,-0.034743,-0.186858,0.276947,1.000000,0.010808,-0.019407,0.222575,0.016794,0.009769,0.041010,-0.039134
tcp.connection.fin,0.005549,-0.017961,-0.060750,-0.013485,-0.004050,-0.239888,0.429257,-0.018315,0.027145,0.010808,1.000000,0.260751,-0.209369,0.362256,-0.018539,-0.163942,-0.003836
tcp.dstport,0.004475,0.382570,0.270788,0.252831,-0.007251,-0.240596,0.585452,-0.032186,-0.092335,-0.019407,0.260751,1.000000,-0.378069,0.155441,0.396227,-0.789401,-0.006868
tcp.flags,0.071601,0.039050,0.132074,-0.365879,-0.133619,0.520824,-0.413792,-0.550604,0.818747,0.222575,-0.209369,-0.378069,1.000000,-0.342660,-0.122691,0.335883,-0.126555
tcp.ack,0.009397,0.078556,-0.000736,-0.022840,-0.006859,-0.329840,0.448975,-0.031021,0.045977,0.016794,0.362256,0.155441,-0.342660,1.000000,-0.030370,-0.010185,-0.006497
tcp.connection.synack,0.005118,-0.012856,-0.043482,-0.009652,-0.002899,-0.171701,-0.028193,-0.013109,0.019429,0.009769,-0.018539,0.396227,-0.122691,-0.030370,1.000000,-0.321492,-0.002745
tcp.srcport,0.035777,-0.311477,-0.225236,-0.201545,-0.070360,0.123858,-0.445862,0.095947,0.171296,0.041010,-0.163942,-0.789401,0.335883,-0.010185,-0.321492,1.000000,-0.066640
arp.opcode,-0.040617,-0.002660,-0.008996,-0.001997,0.947133,-0.035524,-0.005833,-0.002712,-0.141305,-0.039134,-0.003836,-0.006868,-0.126555,-0.006497,-0.002745,-0.066640,1.000000

In [158]:
correlation_crudential = set()
for col1 in correlation.columns:
    for col2 in correlation.columns:
        if col1 == col2: continue
        if correlation[col1][list(correlation.index).index(col2)] >= .2:
            correlation_crudential.add((col1, col2, correlation[col1][list(correlation.index).index(col2)]))

In [175]:
"""
arp.opcode : arp Operation Code : 요청이나 응답 패킷인지와 발생하는 주소 해결 유형을 정의
arp.hw.size : Hardware Address Length : 해당 패킷에 사용되는 물리 주소의 길이(byte)를 정의

tcp.len 
tcp.flags
tcp.flags.ack
tcp.seq
tcp.dstport

http.content_length : http response의 길이 (크기)
http.response : http response가 올바르게 도착하였는가 ( status == 200 을 의미)
"""
_ = [(a,b,c) for a,b,c in correlation_crudential if c >= .5]
_[:len(_)//2]

[('tcp.len', 'tcp.flags', 0.5208240442897379),
 ('tcp.flags.ack', 'tcp.flags', 0.818746529936385),
 ('arp.hw.size', 'arp.opcode', 0.9471332488530566),
 ('http.content_length', 'http.response', 0.8809118211298771),
 ('tcp.seq', 'tcp.dstport', 0.5854519019741504)]

In [159]:
available_columns = set()
for c1, c2, val in list(correlation_crudential):
    available_columns.add(c1)
    available_columns.add(c2)

In [160]:
available_columns # one by one correlation

{'arp.hw.size',
 'arp.opcode',
 'http.content_length',
 'http.response',
 'tcp.ack',
 'tcp.ack_raw',
 'tcp.connection.fin',
 'tcp.connection.rst',
 'tcp.connection.synack',
 'tcp.dstport',
 'tcp.flags',
 'tcp.flags.ack',
 'tcp.len',
 'tcp.seq',
 'tcp.srcport'}

In [126]:
new_df = pd.DataFrame()
for c1 in float_able:
    for c2 in float_able:
        if c1 == c2: continue
        if f"{c2}-{c1}" in new_df.columns: continue
        new_df[f"{c1}-{c2}"] = df[c1] + df[c2]

C:\Users\ParkJaehyung\AppData\Local\Temp\ipykernel_21720\1151983654.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[f"{c1}-{c2}"] = df[c1] + df[c2]
C:\Users\ParkJaehyung\AppData\Local\Temp\ipykernel_21720\1151983654.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[f"{c1}-{c2}"] = df[c1] + df[c2]
C:\Users\ParkJaehyung\AppData\Local\Temp\ipykernel_21720\1151983654.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[f"{c1}-{c2}"] = df[c1] + df[c2]
C:\Users\ParkJaehyung\AppData\Local\Temp\ipykernel_21720\1151983654.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[f"{c1}-{c2}"] = df[c1] + df[c2]
C:\Users\ParkJaehyung\AppData\Local\Temp\ipykernel_21720\1151983654.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_df[f"{c1}-{c2}"] = df[c1] + df[c2]

In [133]:
correlation = new_df.corr("pearson")

In [134]:
correlation_crudential = set()
for col1 in correlation.columns:
    for col2 in correlation.columns:
        if col1 == col2: continue
        if correlation[col1][list(correlation.index).index(col2)] >= .2:
            correlation_crudential.add((col1, col2, correlation[col1][list(correlation.index).index(col2)]))

In [138]:
available_columns = set()
for c1, c2, val in list(correlation_crudential):
    available_columns.add(c1)
    available_columns.add(c2)

available_columns_copy = set()
for element in available_columns:
    for c in element.split("-"):
        available_columns_copy.add(c)
available_columns = available_columns_copy
del available_columns_copy

In [139]:
available_columns

{'arp.hw.size',
 'arp.opcode',
 'http.content_length',
 'http.response',
 'tcp.ack',
 'tcp.ack_raw',
 'tcp.connection.fin',
 'tcp.connection.rst',
 'tcp.connection.syn',
 'tcp.connection.synack',
 'tcp.dstport',
 'tcp.flags.ack',
 'tcp.len',
 'tcp.seq',
 'tcp.srcport'}

In [140]:
float_unable

{'0',
 'Attack_type',
 'GET',
 'HTTP/1.0',
 'HTTP/1.1',
 'POST',
 'TRACE',
 'Unnamed: 0',
 'arp.dst.proto_ipv4',
 'arp.src.proto_ipv4',
 'frame.time',
 'http.file_data',
 'http.file_data.dict',
 'http.referer',
 'http.request.full_uri',
 'http.request.uri.netloc',
 'http.request.uri.path',
 'http.request.uri.query',
 'http.request.uri.query.dict',
 'http.request.uri.scheme',
 'ip.dst_host',
 'ip.src_host',
 'tcp.checksum',
 'tcp.flags',
 'tcp.options',
 'tcp.payload'}

In [142]:
df.head()

,Unnamed: 0,ip.src_host,frame.time,http.request.uri.query,tcp.checksum,http.response,arp.src.proto_ipv4,http.content_length,Attack_type,http.request.full_uri,arp.dst.proto_ipv4,tcp.connection.rst,arp.hw.size,tcp.len,tcp.seq,tcp.options,tcp.connection.syn,http.referer,ip.dst_host,tcp.flags.ack,tcp.ack_raw,tcp.connection.fin,tcp.dstport,tcp.flags,tcp.ack,http.file_data,tcp.connection.synack,tcp.payload,tcp.srcport,arp.opcode,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict
0,0,192.168.0.170,2021 01:45:35.974758000,NaN,0x0000016d,0.0,0,0.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,86.0,1.0,0101080a9a8a02a2d3a23932,0.0,0.0,192.168.0.128,1.0,2.788267e+09,0.0,80.0,0x00000018,1.0,0,0.0,474554202f445657412f6c6f67696e2e70687020485454...,37670.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'}
1,1,192.168.0.170,2021 01:45:35.976362000,NaN,0x000067c9,0.0,0,0.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,86.0,1.0,0101080a9a8a02a3d3a23935,0.0,0.0,192.168.0.128,1.0,3.173240e+08,0.0,80.0,0x00000018,1.0,0,0.0,474554202f445657412f6c6f67696e2e70687020485454...,37672.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'}
2,2,192.168.0.170,2021 01:45:36.094926000,NaN,0x000057a1,0.0,0,37.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,260.0,1.0,0101080a9a8a031bd3a239b3,0.0,0.0,192.168.0.128,1.0,9.393408e+08,0.0,80.0,0x00000018,1.0,username=admin&password=0&Login=Login,0.0,504f5354202f445657412f6c6f67696e2e706870204854...,37674.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '0', 'Login'..."
3,3,192.168.0.170,2021 01:45:36.095802000,NaN,0x0000964a,0.0,0,38.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,261.0,1.0,0101080a9a8a031cd3a239b3,0.0,0.0,192.168.0.128,1.0,3.983958e+09,0.0,80.0,0x00000018,1.0,username=admin&password=00&Login=Login,0.0,504f5354202f445657412f6c6f67696e2e706870204854...,37676.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '00', 'Login..."
4,4,192.168.0.170,2021 01:45:36.209790000,NaN,0x0000ce94,0.0,0,0.0,Password,http://192.168.0.128/DVWA/login.php,0,0.0,0.0,221.0,1.0,0101080a9a8a038ed3a23a26,0.0,0.0,192.168.0.128,1.0,6.664912e+08,0.0,80.0,0x00000018,1.0,0,0.0,474554202f445657412f6c6f67696e2e70687020485454...,37678.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'}