In [1]:
import pandas as pd
import numpy as np
from urllib.parse import urlparse
from preprocessor import classify_features
from preprocessor.urllib import query_params_to_dict

In [2]:
pd.set_option("display.max_columns", None)

In [5]:
%cd /mnt

/mnt

In [6]:
data = pd.read_csv("Full-Dataset/processed/method_na_removed.csv")

/tmp/ipykernel_2987/4106590701.py:1: DtypeWarning: Columns (9,13,18,26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Full-Dataset/processed/method_na_removed.csv")

In [7]:
data.groupby(["Attack_type"]).count()

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,http.request.uri.query,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,http.request.full_uri,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1
Attack_type,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Password,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035
SQL_injection,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379
Uploading,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907
XSS,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915

In [8]:
temp = data
temp = temp.loc[temp["http.request.full_uri"] != '0.0']
temp = temp.loc[temp["http.request.full_uri"] != 0.0]
temp.groupby(["Attack_type"]).count()

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,http.request.uri.query,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,http.request.full_uri,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1
Attack_type,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Password,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035
SQL_injection,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379
Uploading,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907
XSS,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915

In [9]:
data["http.request.full_uri"].unique()

array(['http://192.168.0.128/DVWA/login.php',
       'http://192.168.0.128/DVWA/vulnerabilities/sqli_blind/?id=2&Submit=Submitid=53',
       'http://192.168.0.128/DVWA/vulnerabilities/sqli_blind/?id=2%27.%22%29%28%2C.%28.%28&Submit=Submitid=53',
       ..., 'http://192.168.0.128/DVWA/hackable/uploads/hack.php', '0',
       'http://192.168.0.128/dvwa/vulnerabilities/'], dtype=object)

In [10]:
urlData = pd.Series(
    map(urlparse, data["http.request.full_uri"])
)

In [11]:
urlDatas = pd.DataFrame({
    f"http.request.uri.{key}": [str(getattr(row,key)) for row in urlData]
    for key in ["scheme", "netloc", "path", "params", "query", "fragment",]
})

In [12]:
urlDatas

,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.params,http.request.uri.query,http.request.uri.fragment
0,http,192.168.0.128,/DVWA/login.php,,,
1,http,192.168.0.128,/DVWA/login.php,,,
2,http,192.168.0.128,/DVWA/login.php,,,
3,http,192.168.0.128,/DVWA/login.php,,,
4,http,192.168.0.128,/DVWA/login.php,,,
...,...,...,...,...,...,...
93231,,,0,,,
93232,,,0,,,
93233,,,0,,,
93234,,,0,,,
93235,,,0,,,

In [13]:
data = pd.DataFrame({
    **{col: data[col] for col in data.columns if col},
    **{col: urlDatas[col] for col in urlDatas.columns},
})

In [14]:
data.groupby(["Attack_type"]).count()

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,http.request.uri.query,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,http.request.full_uri,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.params,http.request.uri.fragment
Attack_type,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Password,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035
SQL_injection,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379
Uploading,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907
XSS,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915

In [15]:
used_col, unused_col = classify_features(data, ["Attack_type"], debug=True)

http.request.uri.params : unique value column
http.request.uri.fragment : unique value column

In [16]:
unused_col

['http.request.uri.params', 'http.request.uri.fragment']

In [17]:
for c in unused_col:
    print(f"{c} = {data[c].unique().shape[0]}")

http.request.uri.params = 1
http.request.uri.fragment = 1

In [18]:
payload_into_str = lambda x: ("".join([chr(int(_, 16)) for _ in [x[s:s+2] for s in range(0, len(x), 2)]])).replace("\r\n","\n")
data["tcp.payload"] = data["tcp.payload"].apply(payload_into_str)

In [19]:
data = data.drop(unused_col, axis="columns")

In [20]:
data["http.request.uri.query.dict"] = query_params_to_dict(data["http.request.uri.query"])
data["http.file_data.dict"] = query_params_to_dict(data["http.file_data"])

In [21]:
data.loc[(data["Attack_type"]=="XSS") & (data["http.file_data"]!="0")].iloc[0]["http.file_data.dict"]

{'NaN': '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">\\n<html><head>\\n<title>404 Not Found</title>\\n</head><body>\\n<h1>Not Found</h1>\\n<p>The requested URL was not found on this server.</p>\\n<hr>\\n<address>Apache/2.4.38 (Raspbian) Server at 192.168.0.128 Port 80</address>\\n</body></html>\\n'}

In [22]:
data.loc[(data["Attack_type"]=="XSS") & (data["http.file_data"]!=0) & (data["http.file_data"]!="0") ]

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,Attack_type,http.request.uri.query,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,http.request.full_uri,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict
77333,440.0,0x0000649b,103.0,1.0,0.0,192.168.0.170,0101080a9dd8fc3f9a4b696a,277.0,XSS,,0.0,80.0,"HTTP/1.1 404 Not Found\nDate: Mon, 29 Nov 2021...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 17:44:51.029672000,59002.0,0.0,0.0,192.168.0.128,2.837536e+09,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."
77349,484.0,0x000045c4,121.0,1.0,0.0,192.168.0.170,0101080a9dd91db19a4b8adb,303.0,XSS,,0.0,80.0,"HTTP/1.1 405 Method Not Allowed\nDate: Mon, 29...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 17:44:59.591429000,59004.0,0.0,0.0,192.168.0.128,3.828129e+09,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."
77362,440.0,0x0000cb76,103.0,1.0,0.0,192.168.0.170,0101080a9dd931b19a4b9edc,277.0,XSS,,0.0,80.0,"HTTP/1.1 404 Not Found\nDate: Mon, 29 Nov 2021...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 17:45:04.712012000,59006.0,0.0,0.0,192.168.0.128,2.842603e+09,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."
77377,440.0,0x00008ced,103.0,1.0,0.0,192.168.0.170,0101080a9dd946849a4bb3ae,277.0,XSS,,0.0,80.0,"HTTP/1.1 404 Not Found\nDate: Mon, 29 Nov 2021...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 17:45:10.042479000,59008.0,0.0,0.0,192.168.0.128,9.478336e+08,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."
77392,484.0,0x00000810,121.0,1.0,0.0,192.168.0.170,0101080a9dd965b19a4bd2db,303.0,XSS,,0.0,80.0,"HTTP/1.1 405 Method Not Allowed\nDate: Mon, 29...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 17:45:18.023308000,59010.0,0.0,0.0,192.168.0.128,1.956845e+09,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93177,440.0,0x00004187,103.0,1.0,0.0,192.168.0.170,0101080a9e4e2de39ac09b1c,277.0,XSS,,0.0,80.0,"HTTP/1.1 404 Not Found\nDate: Mon, 29 Nov 2021...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 19:52:51.449612000,33082.0,0.0,0.0,192.168.0.128,3.271019e+09,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."
93189,440.0,0x0000a444,103.0,1.0,0.0,192.168.0.170,0101080a9e4e417b9ac0aeb4,277.0,XSS,,0.0,80.0,"HTTP/1.1 404 Not Found\nDate: Mon, 29 Nov 2021...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 19:52:56.465938000,33084.0,0.0,0.0,192.168.0.128,3.888955e+09,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."
93202,484.0,0x00000fca,121.0,1.0,0.0,192.168.0.170,0101080a9e4e61709ac0ceaa,303.0,XSS,,0.0,80.0,"HTTP/1.1 405 Method Not Allowed\nDate: Mon, 29...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 19:53:04.647153000,33086.0,0.0,0.0,192.168.0.128,3.397008e+09,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."
93215,440.0,0x0000d0bf,103.0,1.0,0.0,192.168.0.170,0101080a9e4e751f9ac0e258,277.0,XSS,,0.0,80.0,"HTTP/1.1 404 Not Found\nDate: Mon, 29 Nov 2021...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 19:53:09.685544000,33088.0,0.0,0.0,192.168.0.128,3.200013e+08,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."
93227,440.0,0x00000758,103.0,1.0,0.0,192.168.0.170,0101080a9e4e88bc9ac0f5f5,277.0,XSS,,0.0,80.0,"HTTP/1.1 404 Not Found\nDate: Mon, 29 Nov 2021...",0,0,0.0,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 2.0//...",1.0,0,2021 19:53:14.706487000,33090.0,0.0,0.0,192.168.0.128,3.493785e+09,0x00000018,0,1.0,0.0,True,False,False,False,False,False,,,0,{},"{'NaN': '<!DOCTYPE HTML PUBLIC ""-//IETF//DTD H..."

In [23]:
# split query with index -> Data Regularization
queryArray = []
for i, (query_dict, file_data_dict) in enumerate(zip(data["http.request.uri.query.dict"], data["http.file_data.dict"])):
    for key, value in {**query_dict, **file_data_dict}.items():
        queryArray.append({"original_index":i, "http.data.key":str(key), "http.data.value":str(value)})
queryDataFrame = pd.DataFrame(queryArray, dtype="object")

In [24]:
queryDataFrame.head(10)

  original_index http.data.key http.data.value
0              0           NaN               0
1              1           NaN               0
2              2      username           admin
3              2      password               0
4              2         Login           Login
5              3      username           admin
6              3      password              00
7              3         Login           Login
8              4           NaN               0
9              5           NaN               0

In [25]:
query_droped_data = data.drop(["http.request.uri.query"], axis="columns")
query_droped_data["index"] = range(query_droped_data.shape[0])

In [26]:
queryDataFrame.to_csv("Full-Dataset/processed/queryData.csv", sep=",")
data.drop(["http.request.uri.query"], axis="columns").to_csv("Full-Dataset/processed/url_encoded_query_removed.csv", sep=",")

In [27]:
mergedData = pd.merge(query_droped_data, queryDataFrame, "outer", left_on="index", right_on="original_index").drop(["original_index", "http.request.full_uri",], axis="columns")
# mergedData = mergedData.drop(["http.request.uri.path"])
mergedData.head(10)

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,Attack_type,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict,index,http.data.key,http.data.value
0,86.0,0x0000016d,1.0,0.0,0.0,192.168.0.128,0101080a9a8a02a2d3a23932,0.0,Password,0.0,37670.0,GET /DVWA/login.php HTTP/1.0\nHost: 192.168.0....,0,0.0,0,1.0,0.0,2021 01:45:35.974758000,80.0,0.0,0.0,192.168.0.170,2.788267e+09,0x00000018,0,1.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'},0,NaN,0
1,86.0,0x000067c9,1.0,0.0,0.0,192.168.0.128,0101080a9a8a02a3d3a23935,0.0,Password,0.0,37672.0,GET /DVWA/login.php HTTP/1.0\nHost: 192.168.0....,0,0.0,0,1.0,0.0,2021 01:45:35.976362000,80.0,0.0,0.0,192.168.0.170,3.173240e+08,0x00000018,0,1.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'},1,NaN,0
2,260.0,0x000057a1,1.0,0.0,0.0,192.168.0.128,0101080a9a8a031bd3a239b3,37.0,Password,0.0,37674.0,POST /DVWA/login.php HTTP/1.0\nHost: 192.168.0...,0,0.0,username=admin&password=0&Login=Login,1.0,0.0,2021 01:45:36.094926000,80.0,0.0,0.0,192.168.0.170,9.393408e+08,0x00000018,0,1.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '0', 'Login'...",2,username,admin
3,260.0,0x000057a1,1.0,0.0,0.0,192.168.0.128,0101080a9a8a031bd3a239b3,37.0,Password,0.0,37674.0,POST /DVWA/login.php HTTP/1.0\nHost: 192.168.0...,0,0.0,username=admin&password=0&Login=Login,1.0,0.0,2021 01:45:36.094926000,80.0,0.0,0.0,192.168.0.170,9.393408e+08,0x00000018,0,1.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '0', 'Login'...",2,password,0
4,260.0,0x000057a1,1.0,0.0,0.0,192.168.0.128,0101080a9a8a031bd3a239b3,37.0,Password,0.0,37674.0,POST /DVWA/login.php HTTP/1.0\nHost: 192.168.0...,0,0.0,username=admin&password=0&Login=Login,1.0,0.0,2021 01:45:36.094926000,80.0,0.0,0.0,192.168.0.170,9.393408e+08,0x00000018,0,1.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '0', 'Login'...",2,Login,Login
5,261.0,0x0000964a,1.0,0.0,0.0,192.168.0.128,0101080a9a8a031cd3a239b3,38.0,Password,0.0,37676.0,POST /DVWA/login.php HTTP/1.0\nHost: 192.168.0...,0,0.0,username=admin&password=00&Login=Login,1.0,0.0,2021 01:45:36.095802000,80.0,0.0,0.0,192.168.0.170,3.983958e+09,0x00000018,0,1.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '00', 'Login...",3,username,admin
6,261.0,0x0000964a,1.0,0.0,0.0,192.168.0.128,0101080a9a8a031cd3a239b3,38.0,Password,0.0,37676.0,POST /DVWA/login.php HTTP/1.0\nHost: 192.168.0...,0,0.0,username=admin&password=00&Login=Login,1.0,0.0,2021 01:45:36.095802000,80.0,0.0,0.0,192.168.0.170,3.983958e+09,0x00000018,0,1.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '00', 'Login...",3,password,00
7,261.0,0x0000964a,1.0,0.0,0.0,192.168.0.128,0101080a9a8a031cd3a239b3,38.0,Password,0.0,37676.0,POST /DVWA/login.php HTTP/1.0\nHost: 192.168.0...,0,0.0,username=admin&password=00&Login=Login,1.0,0.0,2021 01:45:36.095802000,80.0,0.0,0.0,192.168.0.170,3.983958e+09,0x00000018,0,1.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '00', 'Login...",3,Login,Login
8,221.0,0x0000ce94,1.0,0.0,0.0,192.168.0.128,0101080a9a8a038ed3a23a26,0.0,Password,0.0,37678.0,GET /DVWA/login.php HTTP/1.0\nHost: 192.168.0....,0,0.0,0,1.0,0.0,2021 01:45:36.209790000,80.0,0.0,0.0,192.168.0.170,6.664912e+08,0x00000018,0,1.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'},4,NaN,0
9,221.0,0x00000e8a,1.0,0.0,0.0,192.168.0.128,0101080a9a8a038ed3a23a26,0.0,Password,0.0,37680.0,GET /DVWA/login.php HTTP/1.0\nHost: 192.168.0....,0,0.0,0,1.0,0.0,2021 01:45:36.213232000,80.0,0.0,0.0,192.168.0.170,4.075773e+09,0x00000018,0,1.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'},5,NaN,0

In [28]:
mergedData.groupby(["Attack_type"]).count()

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict,index,http.data.key,http.data.value
Attack_type,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Password,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389
SQL_injection,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137
Uploading,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907
XSS,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915

In [29]:
mergedData.loc[mergedData["http.data.key"] != "NaN"][["http.data.value", "http.data.key", "Attack_type"]].to_csv("Full-Dataset/processed/merged_RNN.csv")

In [30]:
used, unused = classify_features(mergedData)

In [31]:
mergedData_ = mergedData.copy(True).drop(unused,axis='columns')

In [32]:
mergedData_.to_csv("Full-Dataset/processed/merged_data.csv")

In [33]:
mergedData.loc[(mergedData["Attack_type"] == "XSS")]

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,Attack_type,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict,index,http.data.key,http.data.value
133433,0.0,0,0.0,0.0,0.0,224.0.0.251,0,0.0,XSS,0.0,0.0, ,0,0.0,0,0.0,0,2021 17:44:47.438207000,0.0,0.0,0.0,192.168.0.128,0.000000e+00,0,0,0.0,0.0,True,False,False,False,False,False,,,0,{},{'NaN': '0'},77321,NaN,0
133434,0.0,0,0.0,0.0,0.0,0,0,0.0,XSS,0.0,0.0, ,0,0.0,0,0.0,0,2021 17:44:49.858496000,0.0,0.0,0.0,0,0.000000e+00,0,0,0.0,0.0,True,False,False,False,False,False,,,0,{},{'NaN': '0'},77322,NaN,0
133435,0.0,0,0.0,0.0,0.0,224.0.0.252,0,0.0,XSS,0.0,0.0, ,0,0.0,0,0.0,0,2021 17:44:50.238177000,0.0,0.0,0.0,192.168.0.128,0.000000e+00,0,0,0.0,0.0,True,False,False,False,False,False,,,0,{},{'NaN': '0'},77323,NaN,0
133436,0.0,0x00005dd8,1.0,0.0,1.0,192.168.0.170,0101080a9dd8fc219a4b55d2,0.0,XSS,0.0,80.0, ,0,0.0,0,1.0,0,2021 17:44:50.999643000,59000.0,0.0,0.0,192.168.0.128,1.815316e+09,0x00000011,0,1.0,0.0,True,False,False,False,False,False,,,0,{},{'NaN': '0'},77324,NaN,0
133437,102.0,0x00002912,1.0,0.0,0.0,192.168.0.128,0101080a9a4b695f9dd8e89e,0.0,XSS,0.0,59000.0,GET /dvwa/vulnerabilities/ HTTP/1.1\nHost: 192...,0,0.0,0,1.0,0,2021 17:44:51.021780000,80.0,0.0,0.0,192.168.0.170,2.649986e+09,0x00000018,0,1.0,0.0,False,True,False,False,False,True,http,192.168.0.128,/dvwa/vulnerabilities/,{},{'NaN': '0'},77325,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149343,0.0,0x00008709,104.0,0.0,0.0,192.168.0.170,0101080a9e4e88c59ac0f5fb,0.0,XSS,0.0,80.0, ,0,0.0,0,442.0,0,2021 19:53:14.716152000,33090.0,0.0,0.0,192.168.0.128,3.493785e+09,0x00000010,0,1.0,0.0,True,False,False,False,False,False,,,0,{},{'NaN': '0'},93231,NaN,0
149344,0.0,0x0000871d,441.0,0.0,0.0,192.168.0.128,0101080a9ac0f5fa9e4e88bc,0.0,XSS,0.0,33090.0, ,0,0.0,0,103.0,0,2021 19:53:14.716632000,80.0,0.0,0.0,192.168.0.170,3.838742e+09,0x00000010,0,1.0,0.0,True,False,False,False,False,False,,,0,{},{'NaN': '0'},93232,NaN,0
149345,0.0,0x00008712,442.0,0.0,0.0,192.168.0.128,0101080a9ac0f5fe9e4e88c1,0.0,XSS,0.0,33090.0, ,0,0.0,0,104.0,0,2021 19:53:14.716665000,80.0,0.0,0.0,192.168.0.170,3.838742e+09,0x00000010,0,1.0,0.0,True,False,False,False,False,False,,,0,{},{'NaN': '0'},93233,NaN,0
149346,0.0,0x0000870f,442.0,0.0,0.0,192.168.0.128,0101080a9ac0f6019e4e88c1,0.0,XSS,0.0,33090.0, ,0,0.0,0,104.0,0,2021 19:53:14.731010000,80.0,0.0,0.0,192.168.0.170,3.838742e+09,0x00000010,0,1.0,0.0,True,False,False,False,False,False,,,0,{},{'NaN': '0'},93234,NaN,0
149347,0.0,0x00003976,0.0,0.0,0.0,192.168.0.170,0,0.0,XSS,0.0,80.0, ,0,0.0,0,442.0,0,2021 19:53:14.731065000,33090.0,0.0,1.0,192.168.0.128,0.000000e+00,0x00000004,0,0.0,0.0,True,False,False,False,False,False,,,0,{},{'NaN': '0'},93235,NaN,0

In [34]:
mergedData.drop(["http.request.uri.path"], axis="columns").to_csv("Full-Dataset/processed/merged.csv", sep=",")

In [35]:
col, unused = classify_features(mergedData, ["Attack_type"])
import json
with open("column_data_final.json", "w") as f:
    f.write(json.dumps({"used_columns":col}, indent=4, ensure_ascii=True))

In [36]:
mergedData.groupby(["http.request.uri.path", "http.data.key", "Attack_type"]).count()

                                                               tcp.len  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading         1907
/DVWA/login.php                   Login         Password         23677
                                  NaN           Password         47358
                                  password      Password         23677
                                  username      Password         23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection     4379
                                  Submit        SQL_injection     4379
                                  id            SQL_injection     4379
/dvwa/vulnerabilities/            NaN           XSS               1376
0                                 NaN           XSS              14539

                                                               tcp.checksum  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading              1907
/DVWA/login.php                   Login         Password              23677
                                  NaN           Password              47358
                                  password      Password              23677
                                  username      Password              23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection          4379
                                  Submit        SQL_injection          4379
                                  id            SQL_injection          4379
/dvwa/vulnerabilities/            NaN           XSS                    1376
0                                 NaN           XSS                   14539

                                                               tcp.ack  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading         1907
/DVWA/login.php                   Login         Password         23677
                                  NaN           Password         47358
                                  password      Password         23677
                                  username      Password         23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection     4379
                                  Submit        SQL_injection     4379
                                  id            SQL_injection     4379
/dvwa/vulnerabilities/            NaN           XSS               1376
0                                 NaN           XSS              14539

                                                               http.response  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading               1907
/DVWA/login.php                   Login         Password               23677
                                  NaN           Password               47358
                                  password      Password               23677
                                  username      Password               23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection           4379
                                  Submit        SQL_injection           4379
                                  id            SQL_injection           4379
/dvwa/vulnerabilities/            NaN           XSS                     1376
0                                 NaN           XSS                    14539

                                                               tcp.connection.fin  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading                    1907
/DVWA/login.php                   Login         Password                    23677
                                  NaN           Password                    47358
                                  password      Password                    23677
                                  username      Password                    23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection                4379
                                  Submit        SQL_injection                4379
                                  id            SQL_injection                4379
/dvwa/vulnerabilities/            NaN           XSS                          1376
0                                 NaN           XSS                         14539

                                                               ip.dst_host  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading             1907
/DVWA/login.php                   Login         Password             23677
                                  NaN           Password             47358
                                  password      Password             23677
                                  username      Password             23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection         4379
                                  Submit        SQL_injection         4379
                                  id            SQL_injection         4379
/dvwa/vulnerabilities/            NaN           XSS                   1376
0                                 NaN           XSS                  14539

                                                               tcp.options  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading             1907
/DVWA/login.php                   Login         Password             23677
                                  NaN           Password             47358
                                  password      Password             23677
                                  username      Password             23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection         4379
                                  Submit        SQL_injection         4379
                                  id            SQL_injection         4379
/dvwa/vulnerabilities/            NaN           XSS                   1376
0                                 NaN           XSS                  14539

                                                               http.content_length  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading                     1907
/DVWA/login.php                   Login         Password                     23677
                                  NaN           Password                     47358
                                  password      Password                     23677
                                  username      Password                     23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection                 4379
                                  Submit        SQL_injection                 4379
                                  id            SQL_injection                 4379
/dvwa/vulnerabilities/            NaN           XSS                           1376
0                                 NaN           XSS                          14539

                                                               arp.opcode  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading            1907
/DVWA/login.php                   Login         Password            23677
                                  NaN           Password            47358
                                  password      Password            23677
                                  username      Password            23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection        4379
                                  Submit        SQL_injection        4379
                                  id            SQL_injection        4379
/dvwa/vulnerabilities/            NaN           XSS                  1376
0                                 NaN           XSS                 14539

                                                               tcp.srcport  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading             1907
/DVWA/login.php                   Login         Password             23677
                                  NaN           Password             47358
                                  password      Password             23677
                                  username      Password             23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection         4379
                                  Submit        SQL_injection         4379
                                  id            SQL_injection         4379
/dvwa/vulnerabilities/            NaN           XSS                   1376
0                                 NaN           XSS                  14539

                                                               tcp.payload  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading             1907
/DVWA/login.php                   Login         Password             23677
                                  NaN           Password             47358
                                  password      Password             23677
                                  username      Password             23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection         4379
                                  Submit        SQL_injection         4379
                                  id            SQL_injection         4379
/dvwa/vulnerabilities/            NaN           XSS                   1376
0                                 NaN           XSS                  14539

                                                               arp.dst.proto_ipv4  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading                    1907
/DVWA/login.php                   Login         Password                    23677
                                  NaN           Password                    47358
                                  password      Password                    23677
                                  username      Password                    23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection                4379
                                  Submit        SQL_injection                4379
                                  id            SQL_injection                4379
/dvwa/vulnerabilities/            NaN           XSS                          1376
0                                 NaN           XSS                         14539

                                                               tcp.connection.synack  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading                       1907
/DVWA/login.php                   Login         Password                       23677
                                  NaN           Password                       47358
                                  password      Password                       23677
                                  username      Password                       23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection                   4379
                                  Submit        SQL_injection                   4379
                                  id            SQL_injection                   4379
/dvwa/vulnerabilities/            NaN           XSS                             1376
0                                 NaN           XSS                            14539

                                                               http.file_data  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading                1907
/DVWA/login.php                   Login         Password                23677
                                  NaN           Password                47358
                                  password      Password                23677
                                  username      Password                23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection            4379
                                  Submit        SQL_injection            4379
                                  id            SQL_injection            4379
/dvwa/vulnerabilities/            NaN           XSS                      1376
0                                 NaN           XSS                     14539

                                                               tcp.seq  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading         1907
/DVWA/login.php                   Login         Password         23677
                                  NaN           Password         47358
                                  password      Password         23677
                                  username      Password         23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection     4379
                                  Submit        SQL_injection     4379
                                  id            SQL_injection     4379
/dvwa/vulnerabilities/            NaN           XSS               1376
0                                 NaN           XSS              14539

                                                               http.referer  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading              1907
/DVWA/login.php                   Login         Password              23677
                                  NaN           Password              47358
                                  password      Password              23677
                                  username      Password              23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection          4379
                                  Submit        SQL_injection          4379
                                  id            SQL_injection          4379
/dvwa/vulnerabilities/            NaN           XSS                    1376
0                                 NaN           XSS                   14539

                                                               frame.time  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading            1907
/DVWA/login.php                   Login         Password            23677
                                  NaN           Password            47358
                                  password      Password            23677
                                  username      Password            23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection        4379
                                  Submit        SQL_injection        4379
                                  id            SQL_injection        4379
/dvwa/vulnerabilities/            NaN           XSS                  1376
0                                 NaN           XSS                 14539

                                                               tcp.dstport  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading             1907
/DVWA/login.php                   Login         Password             23677
                                  NaN           Password             47358
                                  password      Password             23677
                                  username      Password             23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection         4379
                                  Submit        SQL_injection         4379
                                  id            SQL_injection         4379
/dvwa/vulnerabilities/            NaN           XSS                   1376
0                                 NaN           XSS                  14539

                                                               tcp.connection.syn  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading                    1907
/DVWA/login.php                   Login         Password                    23677
                                  NaN           Password                    47358
                                  password      Password                    23677
                                  username      Password                    23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection                4379
                                  Submit        SQL_injection                4379
                                  id            SQL_injection                4379
/dvwa/vulnerabilities/            NaN           XSS                          1376
0                                 NaN           XSS                         14539

                                                               tcp.connection.rst  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading                    1907
/DVWA/login.php                   Login         Password                    23677
                                  NaN           Password                    47358
                                  password      Password                    23677
                                  username      Password                    23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection                4379
                                  Submit        SQL_injection                4379
                                  id            SQL_injection                4379
/dvwa/vulnerabilities/            NaN           XSS                          1376
0                                 NaN           XSS                         14539

                                                               ip.src_host  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading             1907
/DVWA/login.php                   Login         Password             23677
                                  NaN           Password             47358
                                  password      Password             23677
                                  username      Password             23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection         4379
                                  Submit        SQL_injection         4379
                                  id            SQL_injection         4379
/dvwa/vulnerabilities/            NaN           XSS                   1376
0                                 NaN           XSS                  14539

                                                               tcp.ack_raw  \
http.request.uri.path             http.data.key Attack_type
/DVWA/hackable/uploads/hack.php   NaN           Uploading             1907
/DVWA/login.php                   Login         Password             23677
                                  NaN           Password             47358
                                  password      Password             23677
                                  username      Password             23677
/DVWA/vulnerabilities/sqli_blind/ NaN           SQL_injection         4379
                                  Submit        SQL_injection         4379
                                  id            SQL_injection         4379
/dvwa/vulnerabilities/            NaN           XSS                   1376
0                                 NaN           XSS                  14539


In [37]:
mergedData.groupby(["Attack_type"]).count()

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict,index,http.data.key,http.data.value
Attack_type,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Password,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389,118389
SQL_injection,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137,13137
Uploading,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907
XSS,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915

In [38]:
data.head()
# Needing RNN or CNN to process the "query" of the dataset.
# path must be deleted in training, because this dataset's uri.path has the data of "which attack has been used".

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,Attack_type,http.request.uri.query,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,http.request.full_uri,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict
0,86.0,0x0000016d,1.0,0.0,0.0,192.168.0.128,0101080a9a8a02a2d3a23932,0.0,Password,,0.0,37670.0,GET /DVWA/login.php HTTP/1.0\nHost: 192.168.0....,0,http://192.168.0.128/DVWA/login.php,0.0,0,1.0,0.0,2021 01:45:35.974758000,80.0,0.0,0.0,192.168.0.170,2.788267e+09,0x00000018,0,1.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'}
1,86.0,0x000067c9,1.0,0.0,0.0,192.168.0.128,0101080a9a8a02a3d3a23935,0.0,Password,,0.0,37672.0,GET /DVWA/login.php HTTP/1.0\nHost: 192.168.0....,0,http://192.168.0.128/DVWA/login.php,0.0,0,1.0,0.0,2021 01:45:35.976362000,80.0,0.0,0.0,192.168.0.170,3.173240e+08,0x00000018,0,1.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'}
2,260.0,0x000057a1,1.0,0.0,0.0,192.168.0.128,0101080a9a8a031bd3a239b3,37.0,Password,,0.0,37674.0,POST /DVWA/login.php HTTP/1.0\nHost: 192.168.0...,0,http://192.168.0.128/DVWA/login.php,0.0,username=admin&password=0&Login=Login,1.0,0.0,2021 01:45:36.094926000,80.0,0.0,0.0,192.168.0.170,9.393408e+08,0x00000018,0,1.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '0', 'Login'..."
3,261.0,0x0000964a,1.0,0.0,0.0,192.168.0.128,0101080a9a8a031cd3a239b3,38.0,Password,,0.0,37676.0,POST /DVWA/login.php HTTP/1.0\nHost: 192.168.0...,0,http://192.168.0.128/DVWA/login.php,0.0,username=admin&password=00&Login=Login,1.0,0.0,2021 01:45:36.095802000,80.0,0.0,0.0,192.168.0.170,3.983958e+09,0x00000018,0,1.0,0.0,False,False,True,False,True,False,http,192.168.0.128,/DVWA/login.php,{},"{'username': 'admin', 'password': '00', 'Login..."
4,221.0,0x0000ce94,1.0,0.0,0.0,192.168.0.128,0101080a9a8a038ed3a23a26,0.0,Password,,0.0,37678.0,GET /DVWA/login.php HTTP/1.0\nHost: 192.168.0....,0,http://192.168.0.128/DVWA/login.php,0.0,0,1.0,0.0,2021 01:45:36.209790000,80.0,0.0,0.0,192.168.0.170,6.664912e+08,0x00000018,0,1.0,0.0,False,True,False,False,True,False,http,192.168.0.128,/DVWA/login.php,{},{'NaN': '0'}

In [39]:
data["http.data"] = np.hstack(data["http.file_data"]+"&"+data["http.request.uri.query"])

In [40]:
data["http.data"] = data["http.data"].apply(lambda x: "" if x == "0&" else x[:-1] if x.endswith("&") else x[1:] if x.startswith("&") else x)

In [41]:
data.to_csv("Full-Dataset/processed/url_encoded_dataset.csv", sep=",")

In [42]:
data["tcp.payload"][4]

'GET /DVWA/login.php HTTP/1.0\nHost: 192.168.0.128\nUser-Agent: Mozilla/5.0 (Hydra)\nContent-Length: 0\nContent-Type: application/x-www-form-urlencoded\nCookie: PHPSESSID=bqbqr18790mcqo2gn5fel10t3o; security=impossible\n\n'

In [43]:
datas = data.loc[data["Attack_type"] == 'Uploading']["tcp.payload"].iloc[0]

with open("test.txt", "w", encoding="utf-8") as f:
    f.write(datas)

In [44]:
data.groupby(["Attack_type"]).count()

,tcp.len,tcp.checksum,tcp.ack,http.response,tcp.connection.fin,ip.dst_host,tcp.options,http.content_length,http.request.uri.query,arp.opcode,tcp.srcport,tcp.payload,arp.dst.proto_ipv4,http.request.full_uri,tcp.connection.synack,http.file_data,tcp.seq,http.referer,frame.time,tcp.dstport,tcp.connection.syn,tcp.connection.rst,ip.src_host,tcp.ack_raw,tcp.flags,arp.src.proto_ipv4,tcp.flags.ack,arp.hw.size,0,GET,POST,TRACE,HTTP/1.0,HTTP/1.1,http.request.uri.scheme,http.request.uri.netloc,http.request.uri.path,http.request.uri.query.dict,http.file_data.dict,http.data
Attack_type,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Password,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035,71035
SQL_injection,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379
Uploading,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907,1907
XSS,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915,15915

In [45]:
data["http.file_data"]

0                                             0
1                                             0
2         username=admin&password=0&Login=Login
3        username=admin&password=00&Login=Login
4                                             0
                          ...
93231                                         0
93232                                         0
93233                                         0
93234                                         0
93235                                         0
Name: http.file_data, Length: 93236, dtype: object